### Classes and Objects

In [10]:
class Student:

    # Attributes

    # Class Variable
    nstudents = 0

    # Instance Attributes, Constructor
    def __init__(self, a, b, c):
        self.name = a
        self.age  = b
        self.grade = c


    # Methods/functions/procedures
    def printInfo(self, greet):
        print("Self : ", self)
        print("Class variable: ", Student.nstudents)
        print(f"{greet}, {self.name} --> {self.age} --> {self.grade}")

In [18]:
s1 = Student("Anil", 12, 9)

In [20]:
s1

In [22]:
s1.printInfo("Hi")

Self :  <__main__.Student object at 0x0000022385EFFD70>
Class variable:  0
Hi, Anil --> 12 --> 9

In [24]:
s2 = Student("Sunil", 12, 9)

In [26]:
s2

In [28]:
s2.printInfo("Hello")

Self :  <__main__.Student object at 0x0000022385AFCFB0>
Class variable:  0
Hello, Sunil --> 12 --> 9

### Exercise

Create a employee class with the following features:
name, age, company, gross_salary, tax_rate, net_salary
Implement methods to: print information, create an object and use it to print the information
Upgrade: calculate net_salary based on tax rate, set the gross salary, set the tax rate

### Detailed Student Class

In [41]:
class Student:

    nstudents = 0

    # attributes
    def __init__(self, name, age, grade):
        self.name = name
        self.age  = age
        self.grade = grade
        self.marks = {}
        Student.nstudents += 1

    # functions
    def set_marks(self, subj, marks):
        if subj in ['phy', 'chem', 'bio', 'math']:
            if isinstance(marks, float):
                self.marks[subj] = marks
        else:
            return "Invalid Subject or Marks"

    def average(self):
        self.average = sum(self.marks.values()) / len(self.marks.values())
        return self.average

    def print_report(self):
        print(f"\nSELF -> {self}")
        print("---------------------------------------------")
        print(f"NAME         | {self.name}")
        print(f"AGE          | {self.age}")
        print(f"GRADE        | {self.grade}")
        print("---------------------------------------------")
        for k, v in self.marks.items():
            print(str(k).rjust(10), "|", str(v).ljust(5))
        print("---------------------------------------------")
        print(f"AVERAGE      | {self.average}")
        print("---------------------------------------------")

In [43]:
s1 = Student("Anil", 12, 7)
s2 = Student("Sunil", 12, 7)

In [53]:
s1.set_marks('phy', 100.0)
s1.set_marks('chem', 100.0)
s1.set_marks('math', 100.0)
s1.set_marks('bio', 100.0)

In [55]:
s2.set_marks('phy', 90.0)
s2.set_marks('chem', 80.0)
s2.set_marks('math', 93.0)
s2.set_marks('bio', 67.0)

In [57]:
s1.average()

100.0

In [59]:
s1.print_report()

SELF -> <__main__.Student object at 0x0000022384990AA0>
---------------------------------------------
NAME         | Anil
AGE          | 12
GRADE        | 7
---------------------------------------------
       phy | 100.0
      chem | 100.0
      math | 100.0
       bio | 100.0
---------------------------------------------
AVERAGE      | 100.0
---------------------------------------------

In [61]:
s2.print_report()

SELF -> <__main__.Student object at 0x0000022385AFE420>
---------------------------------------------
NAME         | Sunil
AGE          | 12
GRADE        | 7
---------------------------------------------
       phy | 90.0
      chem | 80.0
      math | 93.0
       bio | 67.0
---------------------------------------------
AVERAGE      | <bound method Student.average of <__main__.Student object at 0x0000022385AFE420>>
---------------------------------------------

In [63]:
s1.nstudents, s2.nstudents, Student.nstudents

(2, 2, 2)

### Detailed Employee Class

##### Core Developer

In [72]:
class Employee:

    # class variable
    nEmployees = 0

    # attributes
    def __init__(self, name, age, company, salary):
        self.name = name
        self.age  = age
        self.company = company
        self.salary = salary  # 1000000 INR
        self.taxrate = 0
        self.bonus = 0
        self.net_salary = self.salary 
        Employee.nEmployees += 1

    # methods

    def set_taxrate(self, tr):
        self.taxrate = tr
        self.update_net_salary()
        return

    def set_bonus(self, bonus_pct):
        try:
            self.bonus = bonus_pct
            temp = float(self.net_salary.split()[0])
            temp = temp + (temp * self.bonus/100)
            self.net_salary = ' '.join([str(temp), 'INR'])
            return
        except:
            return "Incompatible operation"

    def update_net_salary(self):
        try:
            temp = float(self.salary.split()[0])
            temp = temp - (temp * self.taxrate/100)
            print(temp)
            self.net_salary = ' '.join([str(temp), 'INR'])
            return
        except:
            return "Incompatible input"

    def print(self):
        print("\n")
        print("NAME".ljust(20), ' -> ', self.name)
        print("AGE".ljust(20), ' -> ', self.age)
        print("COMPANY".ljust(20), ' -> ', self.company)
        print("-"*80)
        print("GROSS SALARY".ljust(20), ' = ', self.salary)
        print("TAX RATE".ljust(20), ' = ', self.taxrate)
        print("BONUS".ljust(20), ' = ', self.bonus, ' pct')
        print("-"*80)
        print("NET SALARY".ljust(20), ' = ', self.net_salary)

##### Application Developer

In [75]:
e = Employee("Anil", 35, "UST Global", "1500000 INR")

In [77]:
e.print()

NAME                  ->  Anil
AGE                   ->  35
COMPANY               ->  UST Global
--------------------------------------------------------------------------------
GROSS SALARY          =  1500000 INR
TAX RATE              =  0
BONUS                 =  0  pct
--------------------------------------------------------------------------------
NET SALARY            =  1500000 INR

In [79]:
e.set_taxrate(10)
e.print()

1350000.0


NAME                  ->  Anil
AGE                   ->  35
COMPANY               ->  UST Global
--------------------------------------------------------------------------------
GROSS SALARY          =  1500000 INR
TAX RATE              =  10
BONUS                 =  0  pct
--------------------------------------------------------------------------------
NET SALARY            =  1350000.0 INR

In [81]:
e.set_bonus(5)
e.print()

NAME                  ->  Anil
AGE                   ->  35
COMPANY               ->  UST Global
--------------------------------------------------------------------------------
GROSS SALARY          =  1500000 INR
TAX RATE              =  10
BONUS                 =  5  pct
--------------------------------------------------------------------------------
NET SALARY            =  1417500.0 INR