##### Built-in decorators: @staticmethod, @classmethod and @property

In [3]:
import math

In [5]:
class Circle:

    count = 0

    def __init__(self, radius):
        self._radius = radius
        Circle.count += 1

    def radius(self):
        return self._radius

    def radius(self, value):
        if(value < 0):
            raise ValueError("Radius must be positive")
        self._radius = value

    def area(self):
        return math.pi * (self._radius ** 2)

    def total_circles(cls):
        return f"Total circles created: {cls.count}"

    def circumference(radius):
        return 2 * math.pi * radius

In [9]:
c = Circle(5)

In [13]:
c.area() # you have to call this

78.53981633974483

### Decorated Version

In [66]:
class Circle:

    count = 0

    def __init__(self, radius):
        self._radius = radius
        Circle.count += 1

    # getter
    @property 
    def radius(self):
        return self._radius

    @radius.setter
    def radius(self, value):
        if(value < 0):
            raise ValueError("Radius must be positive")
        self._radius = value

    # Converts the function into a computed property
    @property  
    def area(self):
        return math.pi * (self._radius ** 2)

    @classmethod
    def total_circles(cls):
        return f"Total circles created: {cls.count}"

    @staticmethod
    def circumference(radius):
        return 2 * math.pi * radius

In [68]:
c = Circle(5)

In [70]:
c.area

78.53981633974483

In [72]:
c.radius

5

In [74]:
c.radius = 6

In [76]:
c.area

113.09733552923255

In [78]:
c.circumference

In [80]:
c.radius

6

In [84]:
c.total_circles()

'Total circles created: 1'

In [86]:
c1 = Circle(2)

In [88]:
c.total_circles()

'Total circles created: 2'

### The @total_ordering Decorator

The @total_ordering decorator automatically fills in the missing comparison methods (<, <=, >, >=, ==, !=) as long as you define __eq__ and one other comparison (like __lt__ or __gt__).

In [92]:
from functools import total_ordering

In [94]:
class Employee:

    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

    def __eq__(self, other):
        return self.salary == other.salary

    def __lt__(self, other):
        return self.salary < other.salary

    def __repr__(self):
        return f"{self.name} (${self.salary})"

In [96]:
e1 = Employee("Anil", 70000)
e2 = Employee("Sunil", 8000)
e3 = Employee("Vinil", 10000)

In [98]:
e1 == e2

False

In [100]:
e1 > e3

True

In [106]:
e2 <= e1 # Before  @total_ordering

TypeError: '<=' not supported between instances of 'Employee' and 'Employee'

In [108]:
@total_ordering
class Employee:

    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

    def __eq__(self, other):
        return self.salary == other.salary

    def __lt__(self, other):
        return self.salary < other.salary

    def __repr__(self):
        return f"{self.name} (${self.salary})"

In [110]:
e1 = Employee("Anil", 70000)
e2 = Employee("Sunil", 8000)
e3 = Employee("Vinil", 10000)

In [112]:
e2 <= e1

True

In [114]:
e2 >= e1

False

### The @dataclass Decorator

In [117]:
from dataclasses import dataclass

@dataclass
class Point:
    x: int
    y: int

In [119]:
p = Point(3, 4)

In [121]:
p

Point(x=3, y=4)

##### Automatically generates __init__, __repr__, and comparison methods for classes.

In [124]:
p2 = Point(4, 5)

In [128]:
p == p2

False

### The @contextmanager Decorator

##### Used to create context managers using yield.

In [132]:
from contextlib import contextmanager

@contextmanager
def open_file(name):
    f = open(name, 'w')
    try:
        yield f
    finally:
        f.close()