### Inheritance of the Student class

##### Inherited class derives the data and behaviour from the parent class

In [2]:
class Student:

    nstudents = 0

    # attributes
    def __init__(self, name, age, grade):
        self.name = name
        self.age  = age
        self.grade = grade
        self.marks = {}
        Student.nstudents += 1

    # functions
    def set_marks(self, subj, marks):
        if subj in ['phy', 'chem', 'bio', 'math']:
            if isinstance(marks, float):
                self.marks[subj] = marks
        else:
            return "Invalid Subject or Marks"

    def average(self):
        self.average = sum(self.marks.values()) / len(self.marks.values())
        return self.average

    def print_report(self):
        print(f"\nSELF -> {self}")
        print("---------------------------------------------")
        print(f"NAME         | {self.name}")
        print(f"AGE          | {self.age}")
        print(f"GRADE        | {self.grade}")
        print("---------------------------------------------")
        for k, v in self.marks.items():
            print(str(k).rjust(10), "|", str(v).ljust(5))
        print("---------------------------------------------")
        print(f"AVERAGE      | {self.average}")
        print("---------------------------------------------")

##### How to create an inherited class/child class?

In [6]:
class extStudent(Student):
    pass

In [8]:
s1 = extStudent("Anil", 12, 7)

In [10]:
s1.set_marks('phy', 100.0)
s1.set_marks('chem', 100.0)
s1.set_marks('math', 100.0)
s1.set_marks('bio', 100.0)

In [12]:
s1.average()

100.0

In [14]:
s1.print_report()

SELF -> <__main__.extStudent object at 0x000001B7D4D1F8F0>
---------------------------------------------
NAME         | Anil
AGE          | 12
GRADE        | 7
---------------------------------------------
       phy | 100.0
      chem | 100.0
      math | 100.0
       bio | 100.0
---------------------------------------------
AVERAGE      | 100.0
---------------------------------------------

##### All the properties and funcitons of the parent class is automatically available for the child

In [43]:
class newStudent(Student):

    def __init__(self, name, age, grade, phone, addr):
        super().__init__(name, age, grade)
        self.phone = phone
        self.addr  = addr
        self.hobbies = []

    def changePhone(self, phone):
        self.phone = phone

    def changeAddr(self, addr):
        self.addr = addr

    def addHobby(self, hobby):
        self.hobbies.append(hobby)

    def removeHobby(self, hobby):
        if hobby in self.hobbies:
            self.hobbies.remove(hobby)
        else:
            return "No hobby found"
            
    # If you do not re-define print_report() here
    # It will automatically access print_report() of the parent
    # Method overloading
    def print_report(self):
        print("Printing from the child class")
        super().print_report()
        print("---------------------------------------------")
        print(f"PHONE    -> {self.phone}")
        print(f"ADDRESS  -> {self.addr}")
        print(f"HOBBIES  -> {self.hobbies}")
        print("---------------------------------------------")

In [45]:
s1 = newStudent("Anil", 12, 7, '9876534524', 'Bangalore')

In [47]:
s1.set_marks('phy', 100.0)
s1.set_marks('chem', 100.0)
s1.set_marks('math', 100.0)
s1.set_marks('bio', 100.0)

In [49]:
s1.addHobby('Cricket')
s1.addHobby('Movies')

In [51]:
s1.average()

100.0

In [53]:
s1.print_report()

Printing from the child class

SELF -> <__main__.newStudent object at 0x000001B7D37A7A70>
---------------------------------------------
NAME         | Anil
AGE          | 12
GRADE        | 7
---------------------------------------------
       phy | 100.0
      chem | 100.0
      math | 100.0
       bio | 100.0
---------------------------------------------
AVERAGE      | 100.0
---------------------------------------------
---------------------------------------------
PHONE    -> 9876534524
ADDRESS  -> Bangalore
HOBBIES  -> ['Cricket', 'Movies']
---------------------------------------------

In [66]:
# access the class variable from the child class
s1.nstudents

4

### Inheritance of the Employee class

In [58]:
class employee:

    # class variable
    nEmployees = 0

    # attributes
    def __init__(self, name='', age=0, company='', salary=''):
        self.name = name
        self.age  = age
        self.company = company
        self.salary = salary  # 1000000 INR
        self.taxrate = 0
        self.bonus = 0
        self.net_salary = self.salary 
        employee.nEmployees += 1

    # methods

    def set_taxrate(self, tr):
        self.taxrate = tr
        self.update_net_salary()
        return

    def set_bonus(self, bonus_pct):
        try:
            self.bonus = bonus_pct
            temp = float(self.net_salary.split()[0])
            temp = temp + (temp * self.bonus/100)
            self.net_salary = ' '.join([str(temp), 'INR'])
            return
        except:
            print("Incompatible operation")

    def update_net_salary(self):
        try:
            temp = float(self.salary.split()[0])
            temp = temp - (temp * self.taxrate/100)
            print(temp)
            self.net_salary = ' '.join([str(temp), 'INR'])
            return
        except:
            print("Incompatible input")

    def print(self):
        print("\n")
        print("NAME".ljust(20), ' -> ', self.name)
        print("AGE".ljust(20), ' -> ', self.age)
        print("COMPANY".ljust(20), ' -> ', self.company)
        print("-"*80)
        print("GROSS SALARY".ljust(20), ' = ', self.salary)
        print("TAX RATE".ljust(20), ' = ', self.taxrate)
        print("BONUS".ljust(20), ' = ', self.bonus, ' pct')
        print("-"*80)
        print("NET SALARY".ljust(20), ' = ', self.net_salary)

In [60]:
import re

class extEmployee(employee):

    def __init__(self, name, age, company, salary, marital_status):
        # New attributes
        self.phone = "+910000000000"
        self.address = ""
        self.workmode = "Office"
        self.maritalstatus = marital_status
        # Attributes initialized in parent class
        super().__init__(name, age, company, salary)

    # New functions
    def update_maritalstatus(self, status):
        if(status in ["married", "unmarried", "single"]):
            self.maritalstatus = status
        return

    def update_phone(self, phone):
        if re.match(r"\+91\d{10}", phone):
            self.phone = phone
        return

    def update_address(self, addr):
        self.addr = addr

    def update_workmode(self, mode):
        if mode in ["home", "office", "hybrid"]:
            self.workmode = mode

    # Override the print()
    def print(self):
        super().print() # To print the parent side details
        print("-"*80)
        print("MARITAL STATUS".ljust(20), ' = ', self.maritalstatus)
        print("PHONE".ljust(20), ' = ', self.phone)
        print("ADDRESS".ljust(20), ' = ', self.address)
        print("WORK MODE".ljust(20), ' = ', self.workmode)

In [62]:
e = extEmployee("Sunil", 35, "UST Global", "1500000 INR", "married")
# Calling functions from parent side
e.set_taxrate(10)
e.set_bonus(10)
# Calling functions from the child
e.update_phone("+918876534545")
e.update_address("Jayanagar, Bengaluru - 560040")
# Print
e.print()

1350000.0


NAME                  ->  Sunil
AGE                   ->  35
COMPANY               ->  UST Global
--------------------------------------------------------------------------------
GROSS SALARY          =  1500000 INR
TAX RATE              =  10
BONUS                 =  10  pct
--------------------------------------------------------------------------------
NET SALARY            =  1485000.0 INR
--------------------------------------------------------------------------------
MARITAL STATUS        =  married
PHONE                 =  +918876534545
ADDRESS               =
WORK MODE             =  Office

### Polymorphism

In [71]:
e1 = employee("Sunil", 35, "UST Global", "1500000 INR")
e2 = extEmployee("Sunil", 35, "UST Global", "1500000 INR", "married")

In [75]:
s = e2
#s = e1
s.print()

NAME                  ->  Sunil
AGE                   ->  35
COMPANY               ->  UST Global
--------------------------------------------------------------------------------
GROSS SALARY          =  1500000 INR
TAX RATE              =  0
BONUS                 =  0  pct
--------------------------------------------------------------------------------
NET SALARY            =  1500000 INR
--------------------------------------------------------------------------------
MARITAL STATUS        =  married
PHONE                 =  +910000000000
ADDRESS               =
WORK MODE             =  Office

### Practical Use Cases:
- GUI Frameworks
- Payment Gateways
- Machine Learning
- Game Development
- Web Development

In [80]:
class Shape:
    def area(self):
        pass

class Circle(Shape):
    def area(self):
        return "πr²"

class Square(Shape):
    def area(self):
        return "side²"

shapes = [Circle(), Square()]
for s in shapes:
    print(s.area())

πr²
side²