refer: https://docs.python.org/3/library/typing.html

In [2]:
def printData(name, age, addr):
    print(name)
    print(age)
    print(addr)
    return [name, age, addr]

In [4]:
printData('Sunil', 35, 'Bangalore')

Sunil
35
Bangalore

['Sunil', 35, 'Bangalore']

In [6]:
def printData(name: str, age: int, addr: str) -> list:
    print(name)
    print(age)
    print(addr)
    return [name, age, addr]

In [10]:
printData(35, 'Anil', 'Bangalore')

35
Anil
Bangalore

[35, 'Anil', 'Bangalore']

In [12]:
def printData(name: str, age: int, addr: str) -> list:
    if not isinstance(name, str):
        raise TypeError(f"name must be str, got {type(name).__name__}")
    if not isinstance(age, int):
        raise TypeError(f"age must be int, got {type(age).__name__}")
    if not isinstance(addr, str):
        raise TypeError(f"addr must be str, got {type(addr).__name__}")
    
    print(name)
    print(age)
    print(addr)
    return [name, age, addr]

In [14]:
printData(35, 'Anil', 'Bangalore')

TypeError: name must be str, got int

### pydantic

In [17]:
from pydantic import BaseModel

In [19]:
class Person(BaseModel):
    name: str
    age: int
    addr: str

In [21]:
p = Person(name="Anil", age=30, addr="Hyderabad")
p

Person(name='Anil', age=30, addr='Hyderabad')

In [23]:
p = Person(name="Anil", age='30', addr="Hyderabad")
p

Person(name='Anil', age=30, addr='Hyderabad')

##### pydantic enforces types whereever possible

In [26]:
p = Person(name="Anil", age='thirty', addr="Hyderabad")
p

ValidationError: 1 validation error for Person
age
  Input should be a valid integer, unable to parse string as an integer [type=int_parsing, input_value='thirty', input_type=str]
    For further information visit https://errors.pydantic.dev/2.8/v/int_parsing

In [28]:
p.name, p.age, p.addr

('Anil', 30, 'Hyderabad')

##### Using pydantic models can ensure data is passed into the functions properly

In [31]:
def printData(person):
    print(person.name)
    print(person.age)
    print(person.addr)
    return [person.name, person.age, person.addr]

In [33]:
printData(p)  # p is a pydantic object

Anil
30
Hyderabad

['Anil', 30, 'Hyderabad']